* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 95%;
  height: 300px;
  border-radius: 8px;
}

a {
  color: white;
  text-decoration-line: none;
  padding: 5px 15px;
}

a:hover {
  border-bottom: 2px solid rgb(12, 12, 12);
  cursor: pointer;
}

.item:hover {
  -webkit-box-shadow: 3px 3px 18.5px 8px #ddd;
  -moz-box-shadow: 3px 3px 18.5px 8px #ddd;
  box-shadow: 3px 3px 18.5px 8px #ddd;
  border-radius: 10px;
  transition: 0.5s;
}

.categ:hover {
  -webkit-box-shadow: 3px 3px 18.5px 8px #ddd;
  -moz-box-shadow: 3px 3px 18.5px 8px #ddd;
  box-shadow: 3px 3px 18.5px 8px #ddd;
  border-radius: 10px;
}

@media (max-width: 425px) {
  .header .navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 30px 20px;
    gap: 15px;
    background-color: rgb(29, 29, 29);
  }
  .header .navigation .logo img {
    width: 90%;
    height: auto;
  }
  .header .navigation .menu {
    display: flex;
    gap: 30px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
  }
  .container .assuntos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .container .assuntos .item {
    padding: 3px;
    gap: 10px;
    width: 80%;
  }
  .container .categorias {
    padding: 20px 0px;
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: rgb(29, 29, 29);
    color: white;
  }
  .container .categorias .categ {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 5px;
  }
  .container .categorias .categ img {
    width: 80%;
    height: 200px;
    border-radius: 8px;
  }

  .footer .navigation {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    padding: 30px 30px 20px;
    gap: 15px;
    background-color: rgb(29, 29, 29);
  }
  .footer .navigation .logo img {
    width: 90%;
    height: auto;
  }
  .footer .navigation .menu {
    display: flex;
    gap: 30px;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .header .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 20px;
    gap: 15px;
    background-color: rgb(29, 29, 29);
  }
  .header .navigation .logo img {
    width: 90%;
    height: auto;
  }
  .header .navigation .menu {
    display: flex;
    gap: 30px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
  }
  .container .main-content {
    display: grid;
    grid-template-columns: 65% 35%;
  }
  .container .main-content .assuntos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .container .main-content .assuntos .item {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 5px;
  }
  .container .main-content .assuntos .item img {
    width: 80%;
    height: 80%;
    border-radius: 8px;
  }
  .container .main-content .assuntos .item p {
    width: 80%;
  }
  .container .main-content .categorias {
    padding: 20px 0px;
    margin: 0px 0px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: rgb(29, 29, 29);
    color: white;
  }
  .container .main-content .categorias .categ {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 5px;
  }
  .container .main-content .categorias .categ img {
    width: 80%;
    height: 80%;
    border-radius: 8px;
  }

  .footer .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 20px;
    gap: 15px;
    background-color: rgb(29, 29, 29);
  }
  .footer .navigation .logo img {
    width: 90%;
    height: auto;
  }
  .footer .navigation .menu {
    display: flex;
    gap: 30px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .header .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 20px;
    gap: 15px;
    background-color: rgb(29, 29, 29);
  }
  .header .navigation .logo img {
    width: 90%;
    height: auto;
  }
  .header .navigation .menu {
    display: flex;
    gap: 30px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
  }
  .container .main-content {
    display: grid;
    grid-template-columns: 65% 35%;
  }
  .container .main-content .assuntos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
  }
  .container .main-content .assuntos .item {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 5px;
  }
  .container .main-content .assuntos .item img {
    width: 80%;
    height: 80%;
    border-radius: 8px;
  }
  .container .main-content .assuntos .item p {
    width: 80%;
  }
  .container .main-content .categorias {
    padding: 20px 0px;
    margin: 0px 0px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: rgb(29, 29, 29);
    color: white;
  }
  .container .main-content .categorias .categ {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 5px;
  }
  .container .main-content .categorias .categ img {
    width: 80%;
    height: 80%;
    border-radius: 8px;
  }

  .footer .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 20px;
    gap: 15px;
    background-color: rgb(29, 29, 29);
  }
  .footer .navigation .logo img {
    width: 90%;
    height: auto;
  }
  .footer .navigation .menu {
    display: flex;
    gap: 30px;
  }
}
@media (min-width: 1025px) and (max-width: 1236px) {
  .header .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 20px;
    gap: 15px;
    background-color: rgb(29, 29, 29);
  }
  .header .navigation .logo img {
    width: 90%;
    height: auto;
  }
  .header .navigation .menu {
    display: flex;
    gap: 30px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
  }
  .container .main-content {
    display: grid;
    grid-template-columns: 75% 25%;
    margin-bottom: 15px;
  }
  .container .main-content .assuntos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 15px;
  }
  .container .main-content .assuntos .item {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 5px;
  }
  .container .main-content .assuntos .item img {
    width: 100%;
    height: 80%;
    border-radius: 8px;
  }
  .container .main-content .assuntos .item p {
    width: 80%;
  }
  .container .main-content .categorias {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: rgb(29, 29, 29);
    color: white;
  }
  .container .main-content .categorias .categ {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 5px;
  }
  .container .main-content .categorias .categ img {
    width: 80%;
    height: 80%;
    border-radius: 8px;
  }

  .footer .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 20px;
    gap: 15px;
    background-color: rgb(29, 29, 29);
  }
  .footer .navigation .logo img {
    width: 90%;
    height: auto;
  }
  .footer .navigation .menu {
    display: flex;
    gap: 30px;
  }
}
@media (min-width: 1237px) {
  .header .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 20px;
    gap: 15px;
    background-color: rgb(29, 29, 29);
  }
  .header .navigation .logo img {
    width: 90%;
    height: auto;
  }
  .header .navigation .menu {
    display: flex;
    gap: 30px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
  }
  .container .main-content {
    display: grid;
    grid-template-columns: 75% 25%;
    margin-bottom: 15px;
  }
  .container .main-content .assuntos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 15px;
  }
  .container .main-content .assuntos .item {
    padding: 3px;
    gap: 10px;
  }
  .container .main-content .assuntos .item img {
    width: 90%;
  }
  .container .main-content .categorias {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
    gap: 20px;
    background-color: rgb(29, 29, 29);
    color: white;
  }
  .container .main-content .categorias .categ {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 5px;
  }
  .container .main-content .categorias .categ img {
    width: 80%;
    height: 80%;
    border-radius: 8px;
  }

  .footer .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 20px;
    gap: 15px;
    background-color: rgb(29, 29, 29);
  }
  .footer .navigation .logo img {
    width: 90%;
    height: auto;
  }
  .footer .navigation .menu {
    display: flex;
    gap: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
